h1 {
  text-align: center;
}
nav {
  display: flex;
}
.parent { display: block; position: relative; float: left; line-height: 30px; }
.parent > span { margin-left: 3em; }
.parent:hover > ul { display: block; position: absolute; }
.child { display: none; }
.child li {
  line-height: 30px;
  border: #CCC 1px solid;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
}
ul { list-style-type: none; }
main {
  display: flex;
  padding-left: 10%;
}
p {
  text-align: center;
}
div.container { margin: 2em; }
iframe {
  border: none;
  overflow: hidden;
}
canvas {
  margin: 8px; // to match iframe body, at least on Chrome
}
